
body
{
    background-image: url("file:///C:/Users/Robert%20C/Documents/GitHub/webdesignrepeat/images/backdrop.png");
    background-repeat: no-repeat;
    background-size:2000px;
    height: 200px;
    background-color: rgb(7, 17, 29);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    white-space: normal;
}

header div
{
    display: flex;
    justify-content: center;
}
header h1
{
    background-color: rgb(34, 32, 46);
    padding: 6px;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

nav 
{
    background-color: grey;
    text-align: center;
}
nav div
{
    font-size: 20px;
    background-color: rgb(62, 85, 119);
    padding: 20px;
    margin: 0px;
}
nav div a
{
    color:aliceblue;
    font-size: 150%;
    border-radius: .5em;
    border: 2px solid black;
    padding: 5px;
    background-color: Darkgrey;
    margin: 2px;
}

.nintendo a
{
    background-color: darkred;
    font-size: 30px;
    color: aliceblue;
    padding: 10px;
    border-radius: .5em;
    border: 2px solid black;
    margin: 2px;
}

.xbox a
{
    background-color: rgb(8, 70, 36);
    font-size: 30px;
    color: aliceblue;
    padding: 10px;
    border-radius: .5em;
    border: 2px solid black;
    margin: 2px;
}

.playstation a
{
    background-color: rgb(9, 0, 139);
    font-size: 30px;
    color: aliceblue;
    padding: 10px;
    border-radius: .5em;
    border: 2px solid black;
    margin: 2px;
}

main
{
    margin-bottom: 100px;
    height: 340px;
    width: 50%;
    margin-inline-start: 25%;
    text-align: center;
    font-size: 25px;
    padding: 2px;
}

main section
{
    clear: both;
}

aside
{
    margin-bottom: 100px;
    text-align: center;
    padding: 10px;
}

aside h2
{
    font-size: 25px;
}

aside h3
{
    font-size: 25px;
}

main div
{
    display: flex;
    justify-content: center;
}

main div table
{
    border: 2px solid white;
}

main div table thead tr th
{
    border: 2px solid white;
}

main div table tbody tr td
{
    border: 2px solid white;
}

.videocontent
{
    max-height: 450px;
    min-height: 450px;
    text-align: center;
}



footer
{
    clear: both;
    background-color: rgb(165, 48, 12);
    padding: 2px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 70px;
}

footer div
{
    text-align: center;
}

footer div a
{ 
    color: aliceblue;
}

/* ID */
#copyright{color: rgb(255, 255, 255); font-size: 80%;}
#active{
    border: 2px solid rgb(39, 8, 8);
    background-color: rgb(165, 48, 12);
    color: rgb(255, 255, 255);
}

/* Class */
.floatLeft{float: left; margin-right: .5%;}
.right{text-align: right;}
.clear{clear: both;}
